<div class="container-bg">
  <div class="container">
    <nav
      id="exemNavbar"
      class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark"
    >
      <h2 class="navbar-brand brand">HOUSSEM</h2>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link scroll" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#aboutt">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#skilss">Skils</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#projectss">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#contactt">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <section class="hero" id="home">
    <div
      class="container h-100 d-flex justify-content-center align-items-center text-center"
    >
      <div>
        <p>HELLO!</p>
        <h1>
          <span>I'm</span> houssem jouidi <br />
          full stack <span>developer</span>
        </h1>
        <button href="#projectss" class="mx-auto button nav-link scroll">
          my works <i class="ml-2 fa fa-sort-down"></i>
        </button>
      </div>
    </div>
  </section>

  <section class="about" id="aboutt">
    <div class="container">
      <div class="text-center">
        <h2>About Me</h2>
      </div>
      <div class="row" style="margin-top: 80px;">
        <div class="col-md-8">
          <ul class="list-unstyled">
            <li><span>Name:</span> <span>Houssem jouidi</span></li>
            <li><span>Date of birth:</span><span> July 17, 1994</span></li>
            <li><span>Adress:</span> <span>Ben Arous</span></li>
            <li><span>Email:</span> <span>houcem.jouidi@gmail.com</span></li>
            <li><span>Phone:</span> <span>26397264</span></li>
          </ul>
        </div>
        <div class="col-md-4 mt-4">
          <a
            href="assets/houcem-cv.pdf"
            download="houcem-cv.pdf"
            target="_blank"
            class="button mx-auto"
            >Download My CV <i class="fa fa-download ml-2 fa-lg"></i
          ></a>
        </div>
      </div>
    </div>
  </section>

  <section class="skils py-5" id="skilss">
    <div class="container">
      <div class="text-center">
        <h2 style="margin-bottom: 80px;">My Skils</h2>
      </div>
      <div class="row">
        <div class="col-md-6 mb-5">
          <div class="px-5">
            <div class="d-flex justify-content-between">
              <strong>HTML5</strong>
              <strong></strong>
            </div>
            <div class="progres">
              <span style="width: 70%;" class="progres-width"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="px-5">
            <div class="d-flex justify-content-between">
              <strong>CSS3</strong>
              <strong></strong>
            </div>
            <div class="progres">
              <span style="width: 70%;" class="progres-width"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="px-5">
            <div class="d-flex justify-content-between">
              <strong>Bootstrap4</strong>
              <strong></strong>
            </div>
            <div class="progres">
              <span style="width: 70%;" class="progres-width"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="px-5">
            <div class="d-flex justify-content-between">
              <strong>SASS</strong>
              <strong></strong>
            </div>
            <div class="progres">
              <span style="width: 70%;" class="progres-width"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="px-5">
            <div class="d-flex justify-content-between">
              <strong>Javascript / Typescript</strong>
              <strong></strong>
            </div>
            <div class="progres">
              <span style="width: 70%;" class="progres-width"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="px-5">
            <div class="d-flex justify-content-between">
              <strong>Jquery</strong>
              <strong></strong>
            </div>
            <div class="progres">
              <span style="width: 70%;" class="progres-width"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="px-5">
            <div class="d-flex justify-content-between">
              <strong>Angular</strong>
              <strong></strong>
            </div>
            <div class="progres">
              <span style="width: 70%;" class="progres-width"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="px-5">
            <div class="d-flex justify-content-between">
              <strong>NodeJs/ExpressJs</strong>
              <strong></strong>
            </div>
            <div class="progres">
              <span style="width: 70%;" class="progres-width"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="px-5">
            <div class="d-flex justify-content-between">
              <strong>MongoDB</strong>
              <strong></strong>
            </div>
            <div class="progres">
              <span style="width: 70%;" class="progres-width"></span>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-5">
          <div class="px-5">
            <div class="d-flex justify-content-between">
              <strong>Firebase</strong>
              <strong></strong>
            </div>
            <div class="progres">
              <span style="width: 70%;" class="progres-width"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mx-auto mb-5">
          <div class="px-5">
            <div class="d-flex justify-content-between">
              <strong>Git / Github</strong>
              <strong></strong>
            </div>
            <div class="progres">
              <span style="width: 70%;" class="progres-width"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="projects text-center scrol" id="projectss">
    <div class="container">
      <h2>Projects</h2>
      <div class="row" style="margin-top: 80px;">
        <div class="col-md-4 mb-5 projectscale">
          <div class="position-relative project-cont overflow-hidden">
            <img src="assets/covid19.png" alt="" />
            <div class="over d-flex justify-content-center align-items-center">
              <div>
                <h3 class="mb-3">Covid 19</h3>
                <div class="d-flex justify-content-md-center">
                  <a
                    href="https://app-covid-19-corona-virus.herokuapp.com/#/"
                    class="gray"
                    target="_blanket"
                  >
                    <i class="fa fa-eye"></i>
                    <p>View</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5 projectscale">
          <div class="position-relative project-cont overflow-hidden">
            <img src="assets/movie.png" alt="" />
            <div class="over d-flex justify-content-center align-items-center">
              <div>
                <h3 class="mb-3">Movies</h3>
                <div class="d-flex justify-content-md-center">
                  <a
                    href="https://app-movies-h.herokuapp.com/home"
                    class="gray"
                    target="_blanket"
                  >
                    <i class="fa fa-eye"></i>
                    <p>View</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5 projectscale">
          <div class="position-relative project-cont overflow-hidden">
            <img src="assets/task.png" alt="" />
            <div class="over d-flex justify-content-center align-items-center">
              <div>
                <h3 class="mb-3">Tasks</h3>
                <div class="d-flex justify-content-md-center">
                  <a
                    href="https://app-mean-tasks.herokuapp.com/"
                    class="gray"
                    target="_blanket"
                  >
                    <i class="fa fa-eye"></i>
                    <p>View</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact" id="contactt">
    <div class="container">
      <div class="text-center">
        <h2>Contact</h2>
      </div>
      <div class="row" style="margin-top: 80px;">
        <div class="col-md-8 mx-auto">
          <p style="text-align: center; font-size: 20px; color: white;">
            Have a freelance project or job opportunity?<!-- -->
            <a
              href="mailto:houcem.jouidi@gmail.com"
              target="__blank"
              rel="noreferrer noopener"
              style="color: #f5b535; text-decoration: none;"
            >
              Email me.</a
            >
          </p>
          <p class="text-center mt-3">
            <a
              href="https://www.linkedin.com/in/houssem-jouidi-a49459120/"
              target="_blank"
            >
              <i class="fa fa-linkedin fa-2x"></i
            ></a>
            <a href="https://github.com/houssem-jouidi" target="_blank"
              ><i class="fa fa-github fa-2x"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <footer class="contaienr text-center text-white pt-3 pb-2">
    <p>Copyright ©2020 All rights reserved</p>
  </footer>
</div>
